.row.heroes
  %ul.six.columns.offset-by-three
    - @heroes.each do |hero|
      %li
        %button{onclick: "openMenu('#{hero.name.gsub(" ", "_")}')"}= hero.name
        %div{class: hero.name.gsub(" ", "_")+" info", hidden: ""}
          = haml :hero, locals: {hero: hero}
    %li
      %button{onclick: "variable()"} Create a Hero
