!!!
%html
  %head
  %link{rel: "stylesheet", href: "css/normalize.css", type: "text/css"}
  %link{rel: "stylesheet", href: "css/skeleton.css", type: "text/css"}
  %link{rel: "stylesheet", href: "css/my.css", type: "text/css"}
  %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}

  %body
    #header
    .header-menu.row
      %a{href: "/collect"}
        .menu-item.three.columns.offset-by-three
          Collect
      %a{href: "/crafters"}
        .menu-item.three.columns
          Crafters
    #content
    =yield

    %script{type: "text/javascript", src: "my.js"}
