.monsters
  %ul.six.columns.offset-by-three
    - @monsters.each do |monster|
      %li
        %button{onclick: "openMenu('#{monster.name.gsub(" ", "_")}')"}= monster.name
        %div{class: monster.name.gsub(" ", "_")+ " card", hidden: ""}
          %p= monster.text
